html,
body {
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

div.online-status {
    color: green;
    font-size: 80%;
}

div.offline-status {
    color: red;
    font-size: 80%;
}

.seen-at {
    border-radius: 5px;
    font-size: 10px;
}

div.team {
    margin-top: 10px;
}

div.team-member-info {
    min-height: 110px;
}

div.task-stat {
    margin-bottom: 10px;
}

#crud-datatable-container {
    width: 98%;
}

.my-message {
    background: #b8ec79;
}

.message > .service {
    background: #7adddd;
}

div.panel-primary .panel-heading a /*,
div.panel-primary .panel-heading a:active
div.panel-primary .panel-heading a:active,
div.panel-primary .panel-heading a:hover
div.panel-primary .panel-heading a:focus*/
{
    color: white;
}


table tbody tr {
    transition: all .5s;
}

/* CUSTOM */
.task-index .grid-view span.glyphicon,
.task-index .grid-view span.fa {
    color: #000;
}
.label.label-warning-light {
    background-color: #ffee02 !important;
    color: #e22b2b;
}

.trStatus_10.myrole1,
.trStatus_10.myrole2 {
    background-color: #47e99d!important;
}

.trStatus_1.myrole2,
.trStatus_5.myrole1 {
    background-color: #fff100!important;
}
.trStatus_1.myrole1,
.trStatus_5.myrole2 {
    background-color: #0ad6ff !important;
}

.toolbar-input-wrapper {
    display: inline-block;
    position: relative;
}

.toolbar-input-wrapper::after{
    font-family: 'FontAwesome';
    content: '\f034';
    position: absolute;
    top: 6px;
    right: 9px;
}

.toolbar-input {
    height: 34px;
    width: 70px;
    padding-left: 10px;
    background-color: #fff;
    color: #444;
    border: 1px solid #ddd;
}

.chat-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}

.gallery-element {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.file-element {
    font-size: 20px;
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    background: #bfbfbf;
}

.file-element i {
    font-size: 25px;
    color: #f5f5f5;
}

.file-element span {
    display: inline-block;
    color: #303030;
    font-size: 13px;
    word-break: break-word;
}

.my-message .file-element {
    background: #90c94c;
}

.my-message i {
    color: #b8ec79;
}

.read-marker i {
    font-size: 17px;
    color: #bfbfbf;
}

.my-message .read-marker i {
    color: #90c94c;
}

.read-marker.yes i {
    color: #3c8dbc;
}

.dragable-hover {
    background: #ededed;
}

table.table tbody tr.member_unread:not(.trStatus_10) {
    background-color: #fcf585 !important;
}

tr.my_last_message {
    background: #0ad6ff !important;
}

tr.member_unread_warning {
    background: #f6ff00 !important;
    color: #ce2f0c !important;
}


tr.member_unread_warning a{
    color: #ce2f0c;
}

